dev/.terraform.lock.hcl
dev/centosEasyTraining.pem
dev/infos_ec2.txt
dev/terraform.tfstate
dev/terraform.tfstate.backup
dev/terraform.tfvars
prod/.terraform.lock.hcl
prod/centosEasyTraining.pem
prod/infos_ec2.txt
prod/terraform.tfvars
